<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: boots_trap}"></head>
<body>

<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="~{fragments :: nav_bar}"></div>

    <h2 class="m-4">All Members</h2>


    <!-- Form to handle multiple selection -->
    <form method="post" th:action="@{/expenses/expenseForm(eventId=${event.id}}" th:object="${event}">

        <!-- <input type="hidden" th:field="*{id}"> -->

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Expense Amount</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="@{${user.firstName} + ' ' + ${user.lastName}}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="0"></td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm"
                       data-bs-placement="top"
                       data-bs-toggle="tooltip"
                       th:href="@{/expenses/expenseForm(eventId=${event.id}, userId=${user.id})}"
                       title="Add Expenses">
                        <i class="fas fa-money-bill-wave"></i></a>

                </td>
            </tr>
            </tbody>
        </table>

        <!-- </form> -->
</div>

</body>
</html>
