<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: boots_trap}"></head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="~{fragments :: nav_bar}"></div>

    <h2 class="m-4">All Events</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Event Name</th>
            <th scope="col">Event Description</th>
            <th scope="col">Event Date</th>
            <th scope="col">Members Tagged</th>
            <th scope="col">Trip Expenses</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="eventWithExpense, iter : ${eventsWithExpenses}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${eventWithExpense.event.eventName}"></td>
            <td th:text="${eventWithExpense.event.eventDescription}"></td>
            <td th:text="${eventWithExpense.event.eventDate}"></td>
            <td th:text="${#lists.size(eventWithExpense.event.members)}"></td>
            <td th:text="${eventWithExpense.totalExpense}"></td>
            <td style="white-space:nowrap">
                <a class="btn btn-success"
                   data-bs-placement="top"
                   data-bs-toggle="tooltip"
                   th:href="@{/expenses/expenseForm(eventId=${eventWithExpense.event.id})}"
                   title="Add expenses">
                    <i class="fas fa-money-bill-wave"></i></a>
            </td>
            <td style="white-space:nowrap">
                <a class="btn btn-success"
                   data-bs-placement="top"
                   data-bs-toggle="tooltip"
                   th:href="@{/events/mappedUsers(eventId=${eventWithExpense.event.id})}"
                   title="Add expenses for All">
                    <i class="fas fa-money-bill-wave"></i>
                </a>

            </td>
            <td style="white-space:nowrap">
                <a class="btn btn-success"
                   data-bs-placement="top"
                   data-bs-toggle="tooltip"
                   th:href="@{/expenses/eventUsers(eventId=${eventWithExpense.event.id})}"
                   title="Report">
                    <i class="fas fa-money-bill-wave"></i>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>