<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expense Form</title>
</head>
<body>
<h1>Add Expense</h1>
<form method="post" th:action="@{/expenses/addExpense}" th:object="${newExpense}">
    <label class="col-sm-4 col-form-label">Description:</label>
    <input class="form-control" required th:field="*{description}" type="text"/>
    <br/>
    <label class="col-sm-4 col-form-label">Amount:</label>
    <input class="form-control" required th:field="*{amount}" type="number"/>
    <br/>
    <label class="col-sm-4 col-form-label">Expense Date:</label>
    <input class="form-control" required th:field="*{expenseDate}" type="date"/>
    <br/>
    <button type="submit">Add Expense</button>
</form>

<h2>Current Expense List</h2>
<ul>
    <li th:each="expense : ${expenseList}">
        <span th:text="${expense.description}">Description</span> -
        <span th:text="${expense.amount}">Amount</span> -
        <span th:text="${expense.expenseDate}">Date</span>
    </li>
</ul>

<form method="post" th:action="@{/expenses/submitExpenses}">
    <button type="submit">Submit All Expenses</button>
</form>
</body>
</html>
