<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: boots_trap}"></head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="~{fragments :: nav_bar}"></div>

    <h2 class="m-4">All Expenses</h2>


    <form method="post" th:action="@{/expenses/addExpense(eventId=${eventId}, userId=${userId})}"
          th:object="${newExpense}">
        <input th:field="*{eventId}" th:value="${eventId}" type="hidden">
        <input th:field="*{userId}" th:value="${userId}" type="hidden">

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-6">
                <input class="form-control" required th:field="*{description}" type="text">

            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-6">
                <input class="form-control" required th:field="*{amount}" type="number">

            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Expense Date</label>
            <div class="col-sm-6">
                <input class="form-control" required th:field="*{expenseDate}" type="date">

            </div>
        </div>
        <div class="d-flex justify-content-start ms-8 mt-3">
            <button class="btn btn-success me-2" type="submit">Add Expense</button>
            <button class="btn btn-danger" onclick="window.location.href='/events'" type="button">Cancel</button>
        </div>

    </form>

</div>
</div>

</div>

<div th:if="${expenseList.size() > 0}">
    <div class="container col-md-offset-3 col-md-8 mt-lg-5">

        <h3 class="m-4">Current Expense List</h3>

        <table class="table">
            <thead>
            <tr>

                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="expense : ${expenseList}">
                <td th:text="${expense.description}"></td>
                <td th:text="${expense.amount}"></td>
                <td th:text="${expense.expenseDate}"></td>

                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm"
                       data-bs-placement="top"
                       data-bs-toggle="tooltip"
                       title="Edit"><i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm"
                       data-bs-placement="top"
                       data-bs-toggle="tooltip"

                       onclick="return confirm('Are you sure?')"
                       title="Delete"><i class="fas fa-trash"></i>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Total Amount</label>
            <div class="col-sm-8">
                <input class="form-control" readonly th:value="${totalAmount}">
            </div>
        </div>

        <form method="post" th:action="@{/expenses/submitExpenses(eventId=${eventId}, userId=${userId})}">

        <div class="d-flex justify-content-start ms-8 mt-3">
                <button class="btn btn-success me-2" type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>


</body>
</html>